<h1 class="title">{{ title }}</h1>
<form class="col-md-6">
  <input
    type="number"
    [(ngModel)]="priceMax"
    name="price"
    class="form-control"
    placeholder="search by price"
  />
</form>

<div class="row">
  <div class="col-md-3 product-card card-ctm" *ngFor="let product of List">
    <div class="card" style="width: 18rem" *ngIf="product.price <= priceMax">
      <img src="{{ product.picture }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>

        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price }}</p>

        <button class="btn btn-sm btn-danger" (click)="incrementLike(product)">
          {{ product.nbrLike }}
        </button>
        <button
          class="btn btn-sm btn-warning purchase-btn"
          [disabled]="product.quantity == 0"
        >
          add to card
        </button>
        <span class="btnBuy" [hidden]="product.quantity != 0">
          out of stock
        </span>
      </div>
    </div>
  </div>
</div>
